body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #69c2ea;
    margin-bottom: 0;
}
h2{
    font-weight: 300;
    margin-top: 0;
}
.qamari{
    margin-top: 0;
}
.miladi{
    margin-bottom: 0;
}
section{
    border: 1px solid gainsboro;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}
.week-days{
    display: flex;
    justify-content: space-around;
    background: #555;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
}
#days{
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.day{
    
    width: 13%;
    margin: .5em 0;
    height: 2em;
}
.current-day{
    border: 2px solid #69c2ea;
    border-radius: 5px;
}
section div{
    margin: 1em;
}

header{
    position: relative;
}
.actions {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: absolute;
    
    transform: translateY(-50%);
    margin: 0 auto;
    top: 7.5%;
}
.actions button {
    border-radius: 50px;
    background-color: #555;
    color: #69c2ea;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 2em;
    height: 2em;
}
#nextMonth {
    margin-left: 20px;
}
#previousMonth {
    margin-right: 20px;   
}